<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 908.03 430">
        <defs id="mall_floor_1_defs">
            <pattern id="imgclosed" width="5" height="5" patternUnits="userSpaceOnUse">
                <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="5" height="5"></image>
            </pattern>
            <style>
                .cls-1, .cls-8 {
                    fill: #fff;
                }
                .cls-2 {
                    fill: #111212;
                }
                .cls-3 {
                    fill: none;
                    stroke: #b79862;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 1.5px;
                }
                .cls-4 {
                    fill: #b79862;
                }
                .cls-5 {
                    fill: #a90830;
                }
                .cls-6 {
                    fill: #a47b52;
                }
                .cls-7 {
                    fill: #eddaab;
                }
                .cls-10, .cls-8 {
                    fill-rule: evenodd;
                }
                .cls-10, .cls-9 {
                    fill: #aa0a2f;
                }
                .cls-11 {
                    fill: #fff9e3;
                }
                .cls-12 {
                    fill: #ecdaaf;
                }
                .odd{
                    fill:#f9f5ce;
                }
                .even{
                    fill:#f3e6b6;
                }
                .closed{
                    fill:#cef0f9;
                }
                .mall_shop_item:hover:not(.closed) {
                    transition: fill 0.3s;
                    fill: #9a1e44;
                }
                .mall_shop_item:hover {
                    cursor: pointer;
                }
            </style>
        </defs>
        <g id="first_floor">
            <g id="floor_stores_1">
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[1].company_id ? 'closed' : ''" id="stand_1" points="450.39 188.95 444.79 192.54 442.91 196.43 445.44 202.02 452.04 203.72 457.02 199.88 457.02 192.98 452.84 189.37 450.39 188.95"></polyline>
                <polygon class="even mall_shop_item js-mall_shop_item" ng-class="stands[2].company_id ? 'closed' : ''" id="stand_2" points="419.59 221.3 413.99 223.8 413.08 228.63 415.42 233.44 421.26 235.14 426.5 230.7 425.19 222.9 419.59 221.3"></polygon>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[3].company_id ? 'closed' : ''" id="stand_3" points="450.21 251.72 444.62 254.24 442.74 259.19 444.62 264.15 450.21 266.67 455.81 264.14 457.58 257.92 454.65 253.18 450.21 251.72 450.21 251.72"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[4].company_id ? 'closed' : ''" id="stand_4" points="450.39 272.05 444.79 274.57 442.91 279.53 444.79 284.48 450.39 287 455.99 284.47 457.76 278.25 454.82 273.52 450.39 272.05 450.39 272.05"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[5].company_id ? 'closed' : ''" id="stand_5" points="480.96 220.37 475.37 223.96 473.49 227.85 476.02 233.44 482.61 235.14 487.59 231.3 487.59 224.4 483.42 220.79 480.96 220.37"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[6].company_id ? 'closed' : ''" id="stand_6" points="813.12 220.37 806.2 225.02 806.65 231.58 813.12 235.32 819.58 231.6 819.41 223.81 813.12 220.37"></polyline>
                <polygon class="even mall_shop_item js-mall_shop_item" ng-class="stands[7].company_id ? 'closed' : ''" id="stand_7" points="189.28 83.17 189.28 97.95 187.47 100.39 187.47 136.28 139.76 136.28 139.76 111.84 151.13 111.84 151.88 110.11 151.88 83.17 189.28 83.17"></polygon>
                <polyline class="even" points="190.78 83.17 190.78 97.82 209.01 97.82 211.58 100.38 211.58 122.61 214.09 122.61 214.09 83.17 190.78 83.17"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[8].company_id ? 'closed' : ''" id="stand_8" points="245.03 83.17 245.03 136.28 259.28 136.28 259.28 83.17 245.03 83.17"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[9].company_id ? 'closed' : ''" id="stand_9" points="260.78 83.17 260.78 136.28 315.03 136.28 315.03 127.06 315.78 126.31 350.62 126.31 352.12 127.8 352.12 136.28 432.47 136.28 432.47 110.47 426.79 110.47 424.23 107.91 424.23 83.17 260.78 83.17"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[10].company_id ? 'closed' : ''" id="stand_10" points="465.99 110.47 471.66 110.47 474.23 107.91 474.23 83.17 639.63 83.17 639.63 136.28 583.4 136.28 583.4 127.06 582.65 126.31 547.06 126.31 546.31 127.06 546.31 136.28 465.99 136.28 465.99 110.47"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[11].company_id ? 'closed' : ''" id="stand_11" points="547.8 127.8 547.8 151.27 581.9 151.27 581.9 127.8 547.8 127.8"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[12].company_id ? 'closed' : ''" id="stand_12" points="641.13 83.17 641.13 136.28 654.18 136.28 654.18 83.17 641.13 83.17"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[13].company_id ? 'closed' : ''" id="stand_13" points="316.53 127.8 316.53 151.27 350.62 151.27 350.62 127.8 316.53 127.8"></polyline>
                <polyline class="even" points="711.31 83.17 711.31 97.94 713.13 100.38 713.13 136.28 754.48 136.28 754.48 83.17 711.31 83.17"></polyline>
                <polyline class="even" points="685.09 83.17 685.09 123.57 688.32 123.57 688.32 100.38 690.88 97.82 709.82 97.82 709.82 83.17 685.09 83.17"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[14].company_id ? 'closed' : ''" id="stand_14" points="755.98 83.17 755.98 136.28 793.4 136.28 793.4 83.17 755.98 83.17"></polyline>
                <polyline class="even" points="794.89 83.17 794.89 136.28 845.74 136.28 845.74 83.17 794.89 83.17"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[15].company_id ? 'closed' : ''" id="stand_15" points="847.23 83.17 847.23 136.28 853.53 136.28 856.09 138.84 869.7 138.85 869.7 136.34 872.26 133.78 890.36 133.78 900.71 83.17 847.23 83.17"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[16].company_id ? 'closed' : ''" id="stand_16" points="831.75 167.13 831.75 214.99 843.82 214.99 843.82 213.11 846.39 210.55 875.61 210.55 884.05 167.13 864.25 167.13 861.68 164.56 848.95 164.56 846.39 167.13 831.75 167.13"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[17].company_id ? 'closed' : ''" id="stand_17" points="767.48 210.98 806.65 210.98 806.65 166.7 767.48 166.7 767.48 210.98"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[18].company_id ? 'closed' : ''" id="stand_18" points="727.21 166.7 727.21 210.98 765.99 210.98 765.99 166.7 727.21 166.7"></polyline>
                <rect class="even mall_shop_item js-mall_shop_item" ng-class="stands[19].company_id ? 'closed' : ''" id="stand_19" x="684.25" y="165.46" width="11.03" height="47.65"></rect>
                <rect class="odd mall_shop_item js-mall_shop_item" ng-class="stands[20].company_id ? 'closed' : ''" id="stand_20" x="696.08" y="165.46" width="30.33" height="47"></rect>
                <rect class="cls-4" x="695.33" y="164.96" width="1.59" height="47.5"></rect>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[21].company_id ? 'closed' : ''" id="stand_21" points="655.2 166.7 655.2 210.98 603.41 210.98 603.41 196.59 637.5 196.59 639 195.32 639 166.7 655.2 166.7"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[22].company_id ? 'closed' : ''" id="stand_22" points="637.5 166.7 637.5 195.09 621.29 195.09 621.29 166.7 637.5 166.7"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[23].company_id ? 'closed' : ''" id="stand_23" points="619.79 166.7 619.79 195.09 603.41 195.09 603.41 166.7 619.79 166.7"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[24].company_id ? 'closed' : ''" id="stand_24" points="601.91 210.98 601.91 196.59 587.61 196.59 587.61 210.98 601.91 210.98"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[25].company_id ? 'closed' : ''" id="stand_25" points="601.91 195.09 601.91 166.7 587.61 166.7 587.61 195.09 601.91 195.09"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[26].company_id ? 'closed' : ''" id="stand_26" points="562.72 166.7 562.72 186.83 537.48 186.83 537.48 166.7 562.72 166.7"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[27].company_id ? 'closed' : ''" id="stand_27" points="562.72 188.33 562.72 210.98 477.31 210.83 477.31 166.7 535.99 166.7 535.99 186.92 537.48 188.33 562.72 188.33"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[28].company_id ? 'closed' : ''" id="stand_28" points="466.01 166.7 466.01 199.34 475.81 209.31 475.81 166.7 466.01 166.7"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[29].company_id ? 'closed' : ''" id="stand_29" points="434.77 166.7 434.77 199.56 423.85 210.98 338.31 210.98 338.31 166.7 434.77 166.7"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[30].company_id ? 'closed' : ''" id="stand_30" points="313.64 166.7 313.64 210.98 280.26 210.98 280.26 166.7 313.64 166.7"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[31].company_id ? 'closed' : ''" id="stand_31" points="278.76 166.7 278.76 210.98 245.19 210.98 245.19 166.7 278.76 166.7"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[32].company_id ? 'closed' : ''" id="stand_32" points="201.02 166.7 201.02 210.98 215.11 210.98 215.11 166.7 201.02 166.7"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[33].company_id ? 'closed' : ''" id="stand_33" points="199.52 166.7 199.52 210.98 137.12 210.98 137.12 166.7 199.52 166.7"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[34].company_id ? 'closed' : ''" id="stand_34" points="135.91 166.7 135.91 210.98 96.14 210.98 96.14 166.7 135.91 166.7"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[35].company_id ? 'closed' : ''" id="stand_35" points="37.35 167.6 35.68 190.03 71.32 190.03 71.32 164.34 57.74 164.34 55.39 167.6 37.35 167.6"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[36].company_id ? 'closed' : ''" id="stand_36" points="35.56 191.53 34.03 212 54.58 212 57.74 215.25 57.74 216.21 71.32 216.21 71.32 191.53 35.56 191.53"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item js-soon" ng-class="stands[37].company_id ? 'closed' : ''" id="stand_37" points="81.66 82 108.42 82 108.42 137.3 81.51 137.3 81.66 82"></polyline>
                <polygon class="odd mall_shop_item js-mall_shop_item js-soon" ng-class="stands[38].company_id ? 'closed' : ''" id="stand_38" points="43.42 80.75 39.08 133.63 54.91 133.63 57.58 138.28 80.86 138.84 80.76 80.75 43.42 80.19"></polygon>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[39].company_id ? 'closed' : ''" id="stand_39" points="109.19 83.17 109.19 136.28 138.27 136.28 138.27 111.09 139.02 110.35 150.39 110.35 150.39 83.17 109.19 83.17"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[40].company_id ? 'closed' : ''" id="stand_40" points="31.72 245.25 28.44 287.52 55.39 287.52 57.74 289.87 57.74 292.96 71.32 292.96 71.32 241.15 57.74 241.15 57.74 242.9 55.39 245.25 31.72 245.25"></polyline>
                <polyline class="odd" points="96.05 272.34 96.05 289 110.33 289 110.33 272.34 96.05 272.34"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[41].company_id ? 'closed' : ''" id="stand_41" points="96.05 270.85 96.05 244.72 144.71 244.72 144.71 289 111.82 289 111.82 271.59 111.07 270.85 96.05 270.85"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[42].company_id ? 'closed' : ''" id="stand_42" points="146.21 244.72 146.21 289 182.02 289 182.02 244.72 146.21 244.72"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[43].company_id ? 'closed' : ''" id="stand_43" points="183.52 244.72 183.52 289 215.11 289 215.11 244.72 183.52 244.72"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[44].company_id ? 'closed' : ''" id="stand_44" points="245.19 244.72 245.19 289 282.97 289 282.97 244.72 245.19 244.72"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[45].company_id ? 'closed' : ''" id="stand_45" points="284.47 244.72 284.47 289 313.64 289 313.64 244.72"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[46].company_id ? 'closed' : ''" id="stand_46" points="338.31 244.72 338.31 289 434.77 289 434.77 256.14 423.85 244.72 338.31 244.72"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[47].company_id ? 'closed' : ''" id="stand_47" points="466.01 256.35 477.45 244.72 562.72 244.72 562.72 250.54 546.12 250.54 545.38 251.29 545.38 289 466.01 289 466.01 256.35"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[48].company_id ? 'closed' : ''" id="stand_48" points="546.87 252.04 546.87 289 562.72 289 562.72 252.04 546.87 252.04"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[49].company_id ? 'closed' : ''" id="stand_49" points="587.61 244.72 587.61 259.62 602.49 259.62 602.49 244.72 587.61 244.72"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[50].company_id ? 'closed' : ''" id="stand_50" points="603.99 244.72 603.99 259.62 638.83 259.62 639.58 260.37 639.58 289 655.2 289 655.2 244.72 603.99 244.72"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[51].company_id ? 'closed' : ''" id="stand_51" points="587.61 261.12 587.61 289 602.49 289 602.49 261.12 587.61 261.12"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[52].company_id ? 'closed' : ''" id="stand_52" points="603.99 261.12 603.99 289 620.38 289 620.38 261.12 603.99 261.12"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[53].company_id ? 'closed' : ''" id="stand_53" points="621.87 261.12 621.87 289 638.09 289 638.09 261.12 621.87 261.12"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[54].company_id ? 'closed' : ''" id="stand_54" points="685.25 244.72 685.25 289 697.08 289 697.08 266.75 697.83 266 715.58 266 715.58 244.72 685.25 244.72"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[55].company_id ? 'closed' : ''" id="stand_55" points="717.07 244.72 717.07 266.75 716.33 267.5 698.58 267.5 698.58 289 735.5 289 735.5 244.72 717.07 244.72"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[56].company_id ? 'closed' : ''" id="stand_56" points="736.99 244.72 736.99 289 771.53 289 771.53 244.72 736.99 244.72"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[57].company_id ? 'closed' : ''" id="stand_57" points="773.02 244.72 773.02 289 806.65 289 806.65 244.72 773.02 244.72"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[58].company_id ? 'closed' : ''" id="stand_58" points="831.75 241.36 843.82 241.36 843.82 242.58 846.39 245.15 869.53 245.15 861.15 288.57 846.39 288.57 843.82 291.13 843.82 292.75 831.75 292.75 831.75 241.36"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[59].company_id ? 'closed' : ''" id="stand_59" points="825.69 317.88 827.43 316.04 843.82 316.04 843.82 317.68 846.39 320.24 851.48 320.24 847.17 341.28 825.69 341.28 825.69 317.88"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[60].company_id ? 'closed' : ''" id="stand_60" points="807.38 318 824.19 318 824.19 342.02 824.94 342.77 846.87 342.77 836.96 391.19 807.38 391.19 807.38 318"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[61].company_id ? 'closed' : ''" id="stand_61" points="805.88 318 770.01 318 770.01 391.19 805.88 391.19 805.88 318"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[62].company_id ? 'closed' : ''" id="stand_62" points="736.99 318 768.51 318 768.51 391.19 736.99 391.19 736.99 318"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[63].company_id ? 'closed' : ''" id="stand_63" points="735.5 318 694.73 318 694.73 374.81 735.5 374.81 735.5 318"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[64].company_id ? 'closed' : ''" id="stand_64" points="735.5 376.31 735.5 391.19 680.88 391.19 680.88 387.75 678.32 385.19 654.12 385.19 651.56 387.75 651.56 391.19 642.23 391.19 642.23 375.23 640.42 372.79 640.42 354.77 663.12 354.77 665.56 352.95 693.24 352.95 693.24 374.81 694.73 376.31 735.5 376.31"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[65].company_id ? 'closed' : ''" id="stand_65" points="665.69 318 665.69 351.45 693.24 351.45 693.24 318 665.69 318"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[66].company_id ? 'closed' : ''" id="stand_66" points="637.11 318 637.11 352.2 638.92 354.64 638.92 372.67 608.38 372.67 608.38 318 637.11 318"></polyline>
                <rect class="even mall_shop_item js-mall_shop_item" ng-class="stands[67].company_id ? 'closed' : ''" id="stand_67" x="575.58" y="318" width="31.3" height="54.67"></rect>
                <polygon class="odd mall_shop_item js-mall_shop_item" ng-class="stands[68].company_id ? 'closed' : ''" id="stand_68" points="534.83 318 534.83 332.13 542.92 332.13 542.92 372.67 574.25 372.67 574.25 318 534.83 318"></polygon>
                <polygon class="even mall_shop_item js-mall_shop_item" ng-class="stands[69].company_id ? 'closed' : ''" id="stand_69" points="500.15 318 500.15 372.67 541.42 372.67 541.42 333.63 533.5 333.63 533.5 318 500.15 318"></polygon>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[70].company_id ? 'closed' : ''" id="stand_70" points="499.58 318 499.58 372.67 481.74 372.67 479.61 375.23 479.61 377.43 471.65 377.43 471.65 352.4 469.51 349.84 462.47 349.84 462.47 343.27 464.58 343.27 466.72 340.71 466.72 318 499.58 318"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[71].company_id ? 'closed' : ''" id="stand_71" points="381.04 318 381.04 373.06 413.83 373.06 416.4 375.62 416.4 377.43 425.97 377.43 425.97 352.65 428.53 350.08 437 350.08 437 343.45 434.46 343.45 431.9 340.88 431.9 318 381.04 318"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[72].company_id ? 'closed' : ''" id="stand_72" points="359.19 318 359.19 373.06 379.54 373.06 379.54 318 359.19 318"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[73].company_id ? 'closed' : ''" id="stand_73" points="357.69 318 357.69 373.06 299.41 373.06 299.41 318 357.69 318"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[74].company_id ? 'closed' : ''" id="stand_74" points="262.36 318 297.91 318 297.91 373.06 260.55 373.06 260.55 354.89 262.36 352.45 262.36 318"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[75].company_id ? 'closed' : ''" id="stand_75" points="201.35 318 201.35 391.19 218.59 391.19 218.59 388.22 221.15 385.66 245.34 385.66 247.91 388.22 247.91 391.19 257.24 391.19 257.24 375.62 259.05 373.18 259.05 355.01 237.95 355.01 235.51 353.2 235.38 318 201.35 318"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[76].company_id ? 'closed' : ''" id="stand_76" points="199.85 318 199.85 391.19 149.51 391.19 149.51 318 199.85 318"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item " ng-class="stands[77].company_id ? 'closed' : ''" id="stand_77" points="148.01 318 148.01 391.19 109.89 391.19 109.89 318 148.01 318"></polyline>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[78].company_id ? 'closed' : ''" id="stand_78" points="108.4 318 108.4 391.19 57.95 391.19 57.95 372.77 55.39 370.21 35.26 370.21 22 353.2 24.98 320.27 55.39 320.27 57.95 317.71 57.95 316.04 71.18 316.04 73.67 318 108.4 318"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[79].company_id ? 'closed' : ''" id="stand_79" points="479.7 13.8 479.71 33.78 899.48 33.73 903.71 18.45 869.58 13.8 844.42 10.96 821.42 8.46 795.75 5.8 780.58 4.8 760.42 3.3 740.26 2.8 724 2.19 707.93 1.13 644.55 1.13 616.25 2.19 602.42 2.19 594.25 3.46 582.58 6.13 555.08 7.63 530.25 8.46 479.7 12.46 479.7 13.8"></polyline>
                <path class="odd mall_shop_item js-mall_shop_item" ng-class="stands[80].company_id ? 'closed' : ''" id="stand_80" d="M137.12,146.51V157.7a5.6,5.6,0,1,0,0-11.19Z"></path>
                <path class="even mall_shop_item js-mall_shop_item" ng-class="stands[81].company_id ? 'closed' : ''" id="stand_81" d="M131.52,152.11a5.6,5.6,0,0,0,5.6,5.59V146.51A5.6,5.6,0,0,0,131.52,152.11Z"></path>
                <path class="odd mall_shop_item js-mall_shop_item" ng-class="stands[82].company_id ? 'closed' : ''" id="stand_82" d="M137.12,222.25v11.19a5.6,5.6,0,1,0,0-11.19Z"></path>
                <path class="even mall_shop_item js-mall_shop_item" ng-class="stands[83].company_id ? 'closed' : ''" id="stand_83" d="M131.52,227.85a5.6,5.6,0,0,0,5.6,5.59V222.25A5.6,5.6,0,0,0,131.52,227.85Z"></path>
                <path class="odd mall_shop_item js-mall_shop_item" ng-class="stands[84].company_id ? 'closed' : ''" id="stand_84" d="M137.12,297.63v11.19a5.6,5.6,0,1,0,0-11.19Z"></path>
                <path class="even mall_shop_item js-mall_shop_item" ng-class="stands[85].company_id ? 'closed' : ''" id="stand_85" d="M131.52,303.23a5.6,5.6,0,0,0,5.6,5.59V297.63A5.6,5.6,0,0,0,131.52,303.23Z"></path>
                <path class="odd mall_shop_item js-mall_shop_item" ng-class="stands[86].company_id ? 'closed' : ''" id="stand_86" d="M740,297.9v11.19a5.6,5.6,0,1,0,0-11.19Z"></path>
                <path class="even mall_shop_item js-mall_shop_item" ng-class="stands[87].company_id ? 'closed' : ''" id="stand_87" d="M734.39,303.5a5.6,5.6,0,0,0,5.6,5.59V297.9A5.6,5.6,0,0,0,734.39,303.5Z"></path>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[88].company_id ? 'closed' : ''" id="stand_88" points="739.51 220.7 732.59 225.34 733.04 231.91 739.51 235.65 745.97 231.92 745.79 224.13 739.51 220.7"></polyline>
                <polyline class="even mall_shop_item js-mall_shop_item" ng-class="stands[89].company_id ? 'closed' : ''" id="stand_89" points="720.17 220.7 713.25 225.34 713.71 231.91 720.17 235.65 726.63 231.92 726.46 224.13 720.17 220.7"></polyline>
                <path class="odd mall_shop_item js-mall_shop_item" ng-class="stands[90].company_id ? 'closed' : ''" id="stand_90" d="M740,146.11V157.3a5.6,5.6,0,1,0,0-11.19Z"></path>
                <path class="even mall_shop_item js-mall_shop_item" ng-class="stands[91].company_id ? 'closed' : ''" id="stand_91" d="M734.39,151.7a5.6,5.6,0,0,0,5.6,5.59V146.11A5.6,5.6,0,0,0,734.39,151.7Z"></path>
                <polyline class="odd mall_shop_item js-mall_shop_item" ng-class="stands[92].company_id ? 'closed' : ''" id="stand_92" points="435.81 221.81 435.81 233.89 444.35 242.43 456.43 242.43 464.97 233.89 464.97 221.81 456.43 213.27 444.35 213.27 435.81 221.81"></polyline>
            </g>
        </g>
        <g id="floor_s_1">
            <path class="cls-4" d="M450.39,272.05a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,450.39,272.05Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,450.39,285.12Z"></path>
            <path class="cls-4" d="M450.39,189a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,450.39,189Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,450.39,202Z"></path>
            <path class="cls-4" d="M739.51,220.7a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,739.51,220.7Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,739.51,233.77Z"></path>
            <path class="cls-4" d="M720.18,220.7a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,720.18,220.7Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,720.18,233.77Z"></path>
            <g>
                <path class="cls-4" d="M137.12,144.63a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,137.12,144.63Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,137.12,157.7Z"></path>
            </g>
            <path class="cls-4" d="M137.12,146.51l-.48,0v11.11l0,0,.44,0Z"></path>
            <path class="cls-4" d="M137.71,146.54a5.64,5.64,0,0,0-.59,0V157.7l.56,0,0,0Z"></path>
            <g>
                <path class="cls-4" d="M137.12,220.37a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,137.12,220.37Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,137.12,233.44Z"></path>
            </g>
            <path class="cls-4" d="M137.12,222.25l-.48,0v11.11l0,0,.44,0Z"></path>
            <path class="cls-4" d="M137.71,222.28a5.64,5.64,0,0,0-.59,0v11.19l.56,0,0,0Z"></path>
            <g>
                <path class="cls-4" d="M137.12,295.75a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,137.12,295.75Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,137.12,308.83Z"></path>
            </g>
            <path class="cls-4" d="M137.12,297.63l-.48,0v11.11l0,0,.44,0Z"></path>
            <path class="cls-4" d="M137.71,297.67a5.64,5.64,0,0,0-.59,0v11.19l.56,0,0,0Z"></path>
            <g>
                <path class="cls-4" d="M740,296a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,740,296Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,740,309.09Z"></path>
            </g>
            <path class="cls-4" d="M740,297.9l-.48,0V309l0,0,.44,0Z"></path>
            <path class="cls-4" d="M740.57,297.93a5.64,5.64,0,0,0-.59,0v11.19l.56,0,0,0Z"></path>
            <g>
                <path class="cls-4" d="M740,144.23a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,740,144.23Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,740,157.3Z"></path>
            </g>
            <path class="cls-4" d="M740,146.11l-.48,0v11.11l0,0,.44,0Z"></path>
            <path class="cls-4" d="M740.57,146.14a5.64,5.64,0,0,0-.59,0V157.3l.56,0,0,0Z"></path>

            <path class="cls-2" d="M238.79,175.47h-4.7a.21.21,0,0,0-.21.21v33.16a.21.21,0,0,0,.21.21h4.7a.21.21,0,0,0,.21-.21V175.68A.21.21,0,0,0,238.79,175.47ZM234.3,202v-1.1h4.27V202Zm4.27.43v1.11H234.3v-1.11Zm-4.27-2v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53V181h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0,23.4h4.27v1.11H234.3Zm4.27-28.06V179H234.3V175.9Zm-4.27,32.73v-3.13h4.27v3.13Z"></path>
            <path class="cls-2" d="M239,251.95h0v-1.53h0v-3.56a.21.21,0,0,0-.21-.21h-4.7a.21.21,0,0,0-.21.21V280a.21.21,0,0,0,.21.21h4.7A.21.21,0,0,0,239,280v-3.56h0v-1.53h0v-1.53h0v-1.53h0v-1.53h0v-1.53h0v-1.53h0v-1.53h0V264.2h0v-1.53h0v-1.53h0v-1.53h0v-1.53h0v-1.53h0V255h0v-1.53h0v-1.53Zm-4.7,21.65h4.27v1.1H234.3Zm0-.43v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0-1.53V269h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27V267Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27V264Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0,23.4h4.27v1.11H234.3Zm4.27-28.06v3.14H234.3v-3.14ZM234.3,279.8v-3.13h4.27v3.13Z"></path>
            <path class="cls-2" d="M333.52,188.62h-7.33v-1.49h0v-1.7h0v-1.7h0V182h0v-1.7h0v-1.7h0v-1.7h0v-1.7h0v-1.7h0v-1.7h0v-1.7a.21.21,0,0,0-.21-.21h-7.54a.21.21,0,0,0-.21.21v18.71a.21.21,0,0,0,.21.21h7.33v18.5a.21.21,0,0,0,.21.21h7.54a.21.21,0,0,0,.21-.21V188.84A.21.21,0,0,0,333.52,188.62Zm-7.33,13.61V201h7.12v1.27Zm7.12.43v1.27h-7.12v-1.27Zm-7.12-2.13v-1.28h7.12v1.28Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.28h7.12v1.28Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12V192Zm0,12.34h7.12v1.27h-7.12Zm7.12-14h-7.12v-1.27h7.12Zm-14.66-8.51v-1.27h7.12v1.27Zm7.12.43v1.27h-7.12v-1.27Zm-7.12-2.13v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12V175Zm0,8.93h7.12v1.27h-7.12Zm7.12-10.63h-7.12V172h7.12Zm-7.12,12.34h7.12v1.27h-7.12Zm7.12-15.31v1.27h-7.12v-1.27Zm-7.12,17h7.12v1.27h-7.12Zm7.54,20v-1.27h7.12v1.27Z"></path>
            <path class="cls-2" d="M91.49,188.62H84.16v-18.5a.21.21,0,0,0-.21-.21H76.4a.21.21,0,0,0-.21.21v18.71a.21.21,0,0,0,.21.21h7.33v18.5a.21.21,0,0,0,.21.21h7.54a.21.21,0,0,0,.21-.21V188.84A.21.21,0,0,0,91.49,188.62Zm-7.33,13.61V201h7.12v1.27Zm7.12.43v1.27H84.16v-1.27Zm-7.12-2.13v-1.28h7.12v1.28Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.28h7.12v1.28Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12V192Zm0,12.34h7.12v1.27H84.16Zm7.12-14H84.16v-1.27h7.12Zm-7.54-14.88v1.27H76.61v-1.27ZM76.61,175v-1.27h7.12V175Zm7.12,2.13v1.27H76.61v-1.27Zm0,1.7v1.27H76.61v-1.27Zm0,1.7v1.27H76.61v-1.27Zm0,1.7v1.27H76.61v-1.27Zm0,1.7v1.27H76.61v-1.27Zm0-10.63H76.61V172h7.12Zm-7.12,12.34h7.12v1.27H76.61Zm7.12-15.31v1.27H76.61v-1.27Zm-7.12,17h7.12v1.27H76.61Zm7.54,20v-1.27h7.12v1.27Z"></path>
            <path class="cls-2" d="M91.49,266.65H84.16v-18.5a.21.21,0,0,0-.21-.21H76.4a.21.21,0,0,0-.21.21v18.71a.21.21,0,0,0,.21.21h7.33v18.5a.21.21,0,0,0,.21.21h7.54a.21.21,0,0,0,.21-.21V266.86A.21.21,0,0,0,91.49,266.65Zm-7.33,13.61V279h7.12v1.27Zm7.12.43V282H84.16v-1.27Zm-7.12-2.13v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12V270Zm0,12.34h7.12v1.27H84.16Zm7.12-14H84.16v-1.27h7.12Zm-7.54-14.89v1.27H76.61v-1.27ZM76.61,253v-1.27h7.12V253Zm7.12,2.13v1.27H76.61v-1.27Zm0,1.7v1.27H76.61v-1.27Zm0,1.7v1.28H76.61v-1.28Zm0,1.7v1.27H76.61v-1.27Zm0,1.7v1.28H76.61V262Zm0-10.63H76.61v-1.27h7.12Zm-7.12,12.34h7.12v1.27H76.61Zm7.12-15.31v1.27H76.61v-1.27Zm-7.12,17h7.12v1.28H76.61Zm7.54,20v-1.27h7.12v1.27Z"></path>
            <path class="cls-2" d="M826.32,188.62H819v-18.5a.21.21,0,0,0-.21-.21h-7.54a.21.21,0,0,0-.21.21v18.71a.21.21,0,0,0,.21.21h7.33v18.5a.21.21,0,0,0,.21.21h7.54a.21.21,0,0,0,.21-.21V188.84A.21.21,0,0,0,826.32,188.62ZM819,202.23V201h7.12v1.27Zm7.12.43v1.27H819v-1.27ZM819,200.53v-1.28h7.12v1.28Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.28h7.12v1.28Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12V192Zm0,12.34h7.12v1.27H819Zm7.12-14H819v-1.27h7.12Zm-7.54-14.88v1.27h-7.11v-1.27Zm-7.11-.43v-1.27h7.11V175Zm7.11,2.13v1.27h-7.11v-1.27Zm0,1.7v1.27h-7.11v-1.27Zm0,1.7v1.27h-7.11v-1.27Zm0,1.7v1.27h-7.11v-1.27Zm0,1.7v1.27h-7.11v-1.27Zm0-10.63h-7.11V172h7.11Zm-7.11,12.34h7.11v1.27h-7.11Zm7.11-15.31v1.27h-7.11v-1.27Zm-7.11,17h7.11v1.27h-7.11Zm7.54,20v-1.27h7.12v1.27Z"></path>
            <path class="cls-2" d="M826.32,266.65H819v-18.5a.21.21,0,0,0-.21-.21h-7.54a.21.21,0,0,0-.21.21v18.71a.21.21,0,0,0,.21.21h7.33v18.5a.21.21,0,0,0,.21.21h7.54a.21.21,0,0,0,.21-.21V266.86A.21.21,0,0,0,826.32,266.65ZM819,280.26V279h7.12v1.27Zm7.12.43V282H819v-1.27ZM819,278.55v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12V270Zm0,12.34h7.12v1.27H819Zm7.12-14H819v-1.27h7.12Zm-7.54-14.89v1.27h-7.11v-1.27Zm-7.11-.43v-1.27h7.11V253Zm7.11,2.13v1.27h-7.11v-1.27Zm0,1.7v1.27h-7.11v-1.27Zm0,1.7v1.28h-7.11v-1.28Zm0,1.7v1.27h-7.11v-1.27Zm0,1.7v1.28h-7.11V262Zm0-10.63h-7.11v-1.27h7.11Zm-7.11,12.34h7.11v1.27h-7.11Zm7.11-15.31v1.27h-7.11v-1.27Zm-7.11,17h7.11v1.28h-7.11Zm7.54,20v-1.27h7.12v1.27Z"></path>
            <path class="cls-2" d="M333.52,266.65h-7.33v-1.49h0v-1.7h0v-1.7h0v-1.7h0v-1.7h0v-1.7h0V255h0v-1.7h0v-1.7h0v-1.7h0v-1.7a.21.21,0,0,0-.21-.21h-7.54a.21.21,0,0,0-.21.21v18.71a.21.21,0,0,0,.21.21h7.33v18.5a.21.21,0,0,0,.21.21h7.54a.21.21,0,0,0,.21-.21V266.86A.21.21,0,0,0,333.52,266.65Zm-7.33,13.61V279h7.12v1.27Zm7.12.43V282h-7.12v-1.27Zm-7.12-2.13v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12V270Zm0,12.34h7.12v1.27h-7.12Zm7.12-14h-7.12v-1.27h7.12Zm-14.66-8.51v-1.28h7.12v1.28Zm7.12.43v1.27h-7.12v-1.27Zm-7.12-2.13v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12V253Zm0,8.93h7.12v1.28h-7.12Zm7.12-10.63h-7.12v-1.27h7.12Zm-7.12,12.34h7.12v1.27h-7.12Zm7.12-15.31v1.27h-7.12v-1.27Zm-7.12,17h7.12v1.28h-7.12Zm7.54,20v-1.27h7.12v1.27Z"></path>
            <path class="cls-2" d="M666.3,246.64h-4.7a.21.21,0,0,0-.21.21v3.56h0v1.53h0v1.53h0V255h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0V280a.21.21,0,0,0,.21.21h4.7a.21.21,0,0,0,.21-.21V246.85A.21.21,0,0,0,666.3,246.64Zm-4.48,26.53v-1.1h4.27v1.1Zm4.27.43v1.1h-4.27v-1.1Zm-4.27-2v-1.11h4.27v1.11Zm0-1.53V269h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27V267Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27V264Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0,23.4h4.27v1.1h-4.27Zm4.27-28.06v3.14h-4.27v-3.14Zm-4.27,32.73v-3.14h4.27v3.14Z"></path>
            <path class="cls-2" d="M666.3,175.47h-4.7a.21.21,0,0,0-.21.21v3.56h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0V190h0v1.53h0V193h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v1.53h0v3.56a.21.21,0,0,0,.21.21h4.7a.21.21,0,0,0,.21-.21V175.68A.21.21,0,0,0,666.3,175.47ZM661.82,202v-1.1h4.27V202Zm4.27.43v1.11h-4.27v-1.11Zm-4.27-2v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.1h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.11h4.27v1.11Zm0-1.53v-1.1h4.27v1.1Zm0-1.53V181h4.27v1.1Zm0-1.53v-1.11h4.27v1.11Zm0,23.4h4.27v1.1h-4.27Zm4.27-28.06V179h-4.27V175.9Zm-4.27,32.73v-3.14h4.27v3.14Z"></path>
            <path class="cls-2" d="M582.59,188.62h-7.33v-18.5a.21.21,0,0,0-.21-.21h-7.54a.21.21,0,0,0-.21.21v18.71a.21.21,0,0,0,.21.21h7.32v18.5a.21.21,0,0,0,.21.21h7.55a.21.21,0,0,0,.21-.21V188.84A.21.21,0,0,0,582.59,188.62Zm-7.33,13.61V201h7.12v1.27Zm7.12.43v1.27h-7.12v-1.27Zm-7.12-2.13v-1.28h7.12v1.28Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.28h7.12v1.28Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12V192Zm0,12.34h7.12v1.27h-7.12Zm7.12-14h-7.12v-1.27h7.12Zm-7.55-14.88v1.27h-7.11v-1.27Zm-7.11-.43v-1.27h7.11V175Zm7.11,2.13v1.27h-7.11v-1.27Zm0,1.7v1.27h-7.11v-1.27Zm0,1.7v1.27h-7.11v-1.27Zm0,1.7v1.27h-7.11v-1.27Zm0,1.7v1.27h-7.11v-1.27Zm0-10.63h-7.11V172h7.11Zm-7.11,12.34h7.11v1.27h-7.11Zm7.11-15.31v1.27h-7.11v-1.27Zm-7.11,17h7.11v1.27h-7.11Zm7.54,20v-1.27h7.12v1.27Z"></path>
            <path class="cls-2" d="M582.59,266.65h-7.33v-18.5a.21.21,0,0,0-.21-.21h-7.54a.21.21,0,0,0-.21.21v18.71a.21.21,0,0,0,.21.21h7.32v18.5a.21.21,0,0,0,.21.21h7.55a.21.21,0,0,0,.21-.21V266.86A.21.21,0,0,0,582.59,266.65Zm-7.33,13.61V279h7.12v1.27Zm7.12.43V282h-7.12v-1.27Zm-7.12-2.13v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12v1.27Zm0-1.7v-1.27h7.12V270Zm0,12.34h7.12v1.27h-7.12Zm7.12-14h-7.12v-1.27h7.12Zm-7.55-14.89v1.27h-7.11v-1.27Zm-7.11-.43v-1.27h7.11V253Zm7.11,2.13v1.27h-7.11v-1.27Zm0,1.7v1.27h-7.11v-1.27Zm0,1.7v1.28h-7.11v-1.28Zm0,1.7v1.27h-7.11v-1.27Zm0,1.7v1.28h-7.11V262Zm0-10.63h-7.11v-1.27h7.11Zm-7.11,12.34h7.11v1.27h-7.11Zm7.11-15.31v1.27h-7.11v-1.27Zm-7.11,17h7.11v1.28h-7.11Zm7.54,20v-1.27h7.12v1.27Z"></path>
            <path class="cls-2" d="M256.36,329.66H249V315.43a.21.21,0,0,0-.21-.21h-7.54a.21.21,0,0,0-.21.21v14.44a.21.21,0,0,0,.21.21h7.33v14.23a.21.21,0,0,0,.21.21h7.54a.21.21,0,0,0,.21-.21V329.88A.21.21,0,0,0,256.36,329.66Zm-7.33,9v-1.38h7.12v1.38Zm7.12.43v1.38H249v-1.38ZM249,336.88V335.5h7.12v1.38Zm0-1.81V333.7h7.12v1.38Zm0-1.8v-1.38h7.12v1.38Zm0,7.65h7.12v1.38H249Zm7.12-9.45H249v-1.38h7.12Zm-7.54-10.83h-7.12v-1.38h7.12Zm0,.43v1.38h-7.12v-1.38Zm0,1.8v1.38h-7.12v-1.38Zm0,1.81v1.38h-7.12v-1.38Zm0-5.84h-7.12v-1.38h7.12Zm-7.12,7.65h7.12v1.38h-7.12Zm7.12-10.83V317h-7.12v-1.38Zm-7.12,12.64h7.12v1.38h-7.12ZM249,344.1v-1.38h7.12v1.38Z"></path>
            <path class="cls-2" d="M659,329.66h-7.33V315.43a.21.21,0,0,0-.21-.21h-7.54a.21.21,0,0,0-.21.21v14.44a.21.21,0,0,0,.21.21h7.33v14.23a.21.21,0,0,0,.21.21H659a.21.21,0,0,0,.21-.21V329.88A.21.21,0,0,0,659,329.66Zm-7.33,9v-1.38h7.11v1.38Zm7.11.43v1.38h-7.11v-1.38Zm-7.11-2.23V335.5h7.11v1.38Zm0-1.81V333.7h7.11v1.38Zm0-1.8v-1.38h7.11v1.38Zm0,7.65h7.11v1.38h-7.11Zm7.11-9.45h-7.11v-1.38h7.11Zm-7.54-10.83h-7.12v-1.38h7.12Zm0,.43v1.38h-7.12v-1.38Zm0,1.8v1.38h-7.12v-1.38Zm0,1.81v1.38h-7.12v-1.38Zm0-5.84h-7.12v-1.38h7.12Zm-7.12,7.65h7.12v1.38h-7.12Zm7.12-10.83V317h-7.12v-1.38Zm-7.12,12.64h7.12v1.38h-7.12Zm7.54,15.82v-1.38h7.11v1.38Z"></path>
            <path class="cls-2" d="M707.84,120.95H700.9V107.46a.2.2,0,0,0-.2-.2h-7.15a.2.2,0,0,0-.2.2v13.69a.2.2,0,0,0,.2.2h6.95v13.49a.2.2,0,0,0,.2.2h7.15a.2.2,0,0,0,.2-.2V121.15A.2.2,0,0,0,707.84,120.95Zm-6.95,9h6.74v1.31H700.9Zm0-.4V128.2h6.74v1.31Zm0-1.71v-1.31h6.74v1.31Zm0-1.71v-1.31h6.74v1.31Zm0-1.71v-1.31h6.74v1.31Zm0,7.25h6.74v1.31H700.9Zm6.74-9H700.9v-1.31h6.74Zm-7.15-9.87v1.31h-6.75V112.8Zm-6.75-.4v-1.31h6.75v1.31Zm6.75,2.12v1.31h-6.75v-1.31Zm0,1.71v1.31h-6.75v-1.31Zm0-5.54h-6.75v-1.31h6.75Zm-6.75,7.25h6.75v1.31h-6.75Zm6.75-10.27V109h-6.75v-1.31Zm-6.75,12h6.75v1.31h-6.75Zm7.15,15v-1.31h6.74v1.31Z"></path>
            <polygon class="cls-5" points="229.56 74.49 224.32 65.48 234.8 65.48 229.56 74.49"></polygon>
            <polygon class="cls-5" points="669.64 74.49 664.4 65.48 674.87 65.48 669.64 74.49"></polygon>
            <polygon class="cls-5" points="668.78 42.93 674.34 52.5 663.22 52.5 668.78 42.93"></polygon>
            <polygon class="cls-5" points="533.5 42.93 539.07 52.5 527.95 52.5 533.5 42.93"></polygon>
            <polygon class="cls-5" points="818.74 42.93 824.3 52.5 813.19 52.5 818.74 42.93"></polygon>
            <polygon class="cls-5" points="233.27 395.69 238.51 404.7 228.04 404.7 233.27 395.69"></polygon>
            <polygon class="cls-5" points="449.76 381.1 455 390.12 444.52 390.12 449.76 381.1"></polygon>
            <polygon class="cls-5" points="449.21 80.42 443.97 71.41 454.45 71.41 449.21 80.42"></polygon>
            <polygon class="cls-5" points="666.21 395.69 671.45 404.7 660.97 404.7 666.21 395.69"></polygon>
            <polygon class="cls-5" points="867.44 304.41 876.46 299.17 876.46 309.64 867.44 304.41"></polygon>
            <polygon class="cls-5" points="881.33 227.85 890.34 222.61 890.34 233.09 881.33 227.85"></polygon>
            <polygon class="cls-5" points="896.49 150.45 905.51 145.21 905.51 155.69 896.49 150.45"></polygon>
            <polygon class="cls-5" points="24.17 228.62 15.15 233.86 15.15 223.39 24.17 228.62"></polygon>
            <polygon class="cls-5" points="29.43 150.13 20.42 155.37 20.42 144.89 29.43 150.13"></polygon>
            <polygon class="cls-5" points="18.86 303.79 9.85 309.03 9.85 298.55 18.86 303.79"></polygon>
            <path class="cls-4" d="M419.59,220.37a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,419.59,220.37Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,419.59,233.44Z"></path>
            <path class="cls-4" d="M813.12,220.37a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,813.12,220.37Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,813.12,233.44Z"></path>
            <path class="cls-4" d="M481,220.37a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,481,220.37Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,481,233.44Z"></path>
            <path class="cls-4" d="M450.21,251.72a7.48,7.48,0,1,0,7.48,7.48A7.47,7.47,0,0,0,450.21,251.72Zm0,13.07a5.6,5.6,0,1,1,5.6-5.59A5.6,5.6,0,0,1,450.21,264.79Z"></path>
            <path class="cls-4" d="M846.39,297.87h-17.2a2.56,2.56,0,0,1-2.56-2.56V238.79a2.56,2.56,0,0,1,2.56-2.56h17.2a2.56,2.56,0,0,1,2.56,2.56V240h23.68a2.56,2.56,0,0,1,2.52,3l-9.36,48.55a2.56,2.56,0,0,1-2.52,2.08H848.95v1.61A2.56,2.56,0,0,1,846.39,297.87Zm-14.64-5.13h12.07v-1.61a2.56,2.56,0,0,1,2.56-2.56h14.77l8.38-43.43H846.39a2.56,2.56,0,0,1-2.56-2.56v-1.23H831.75Z"></path>
            <path class="cls-4" d="M846.39,220.12h-17.2a2.56,2.56,0,0,1-2.56-2.56v-53a2.56,2.56,0,0,1,2.56-2.56h14.64a2.56,2.56,0,0,1,2.56-2.56h17.86a2.56,2.56,0,0,1,2.56,2.56h20.35a2.56,2.56,0,0,1,2.52,3.05l-9.44,48.55a2.56,2.56,0,0,1-2.52,2.07H848.95v1.88A2.56,2.56,0,0,1,846.39,220.12ZM831.75,215h12.07v-1.87a2.56,2.56,0,0,1,2.56-2.56H875.6L884,167.13h-19.8a2.56,2.56,0,0,1-2.56-2.56H848.95a2.56,2.56,0,0,1-2.56,2.56H831.75Z"></path>
            <path class="cls-4" d="M73.67,297.66H55.39A2.35,2.35,0,0,1,53,295.31v-3.09H25.9a2.35,2.35,0,0,1-2.34-2.53l3.64-47a2.35,2.35,0,0,1,2.34-2.17H53v-1.76a2.35,2.35,0,0,1,2.35-2.35H73.67A2.35,2.35,0,0,1,76,238.79v56.51A2.35,2.35,0,0,1,73.67,297.66ZM57.74,293H71.32V241.14H57.74v1.76a2.35,2.35,0,0,1-2.35,2.35H31.72l-3.28,42.27H55.39a2.35,2.35,0,0,1,2.35,2.35Z"></path>
            <path class="cls-4" d="M424.77,215.25H336.18a2.14,2.14,0,0,1-2.14-2.14V164.56a2.14,2.14,0,0,1,2.14-2.14H436.9a2.14,2.14,0,0,1,2.14,2.14v35.86a2.14,2.14,0,0,1-.59,1.48l-12.14,12.69A2.14,2.14,0,0,1,424.77,215.25ZM338.31,211h85.54l10.91-11.42V166.7H338.31Z"></path>
            <path class="cls-4" d="M436.9,293.27H336.18a2.14,2.14,0,0,1-2.14-2.14V242.58a2.14,2.14,0,0,1,2.14-2.14h88.59a2.14,2.14,0,0,1,1.54.66l12.14,12.7a2.14,2.14,0,0,1,.59,1.48v35.85A2.14,2.14,0,0,1,436.9,293.27ZM338.31,289h96.46V256.14l-10.91-11.42H338.31Z"></path>
            <path class="cls-4" d="M315.78,162.43H243.06a2.14,2.14,0,0,0-2.14,2.14v48.55a2.14,2.14,0,0,0,2.14,2.14h72.72a2.14,2.14,0,0,0,2.14-2.14V164.56A2.14,2.14,0,0,0,315.78,162.43Zm-70.59,4.27h33.57V211H245.19ZM313.65,211H280.26V166.7h33.39Z"></path>
            <path class="cls-4" d="M808.79,240.45H683.11a2.14,2.14,0,0,0-2.14,2.14v48.55a2.14,2.14,0,0,0,2.14,2.14H808.79a2.14,2.14,0,0,0,2.14-2.14V242.58A2.14,2.14,0,0,0,808.79,240.45Zm-91.72,26.31v-22H735.5V289H698.57V267.5h17.75A.75.75,0,0,0,717.07,266.75Zm19.92-22h34.54V289H737Zm-51.74,0h30.33V266H697.83a.75.75,0,0,0-.75.75V289H685.25ZM806.65,289H773V244.72h33.63Z"></path>
            <path class="cls-4" d="M315.78,240.45H243.06a2.14,2.14,0,0,0-2.14,2.14v48.55a2.14,2.14,0,0,0,2.14,2.14h72.72a2.14,2.14,0,0,0,2.14-2.14V242.58A2.14,2.14,0,0,0,315.78,240.45Zm-70.59,4.27H283V289H245.19ZM313.65,289H284.47V244.72h29.18Z"></path>
            <path class="cls-4" d="M808.79,162.43H683.11a2.14,2.14,0,0,0-2.14,2.14v48.55a2.14,2.14,0,0,0,2.14,2.14H808.79a2.14,2.14,0,0,0,2.14-2.14V164.56A2.14,2.14,0,0,0,808.79,162.43ZM685.25,166.7H766V211H685.25ZM806.65,211H767.48V166.7h39.17Z"></path>
            <path class="cls-4" d="M73.67,159.64H55.39A2.35,2.35,0,0,0,53,162v.91H35.17a2.35,2.35,0,0,0-2.34,2.17l-3.67,49.1a2.35,2.35,0,0,0,2.34,2.52H53v1.86a2.35,2.35,0,0,0,2.35,2.35H73.67A2.35,2.35,0,0,0,76,218.56V162A2.35,2.35,0,0,0,73.67,159.64Zm-18.28,8a2.35,2.35,0,0,0,2.35-2.35v-.91H71.32V190H35.68l1.68-22.43Zm2.35,48.61v-1.86A2.35,2.35,0,0,0,55.39,212H34l1.53-20.47H71.32v24.68Z"></path>
            <path class="cls-4" d="M217.24,240.45H93.91a2.14,2.14,0,0,0-2.14,2.14v48.55a2.14,2.14,0,0,0,2.14,2.14H217.24a2.14,2.14,0,0,0,2.14-2.14V242.58A2.14,2.14,0,0,0,217.24,240.45ZM182,244.72V289H146.21V244.72Zm-37.31,0V289H111.82V271.59a.75.75,0,0,0-.75-.75H96V244.72ZM96,272.34h14.28V289H96ZM215.11,289H183.52V244.72h31.59Z"></path>
            <path class="cls-4" d="M217.24,162.43H93.91a2.14,2.14,0,0,0-2.14,2.14v48.55a2.14,2.14,0,0,0,2.14,2.14H217.24a2.14,2.14,0,0,0,2.14-2.14V164.56A2.14,2.14,0,0,0,217.24,162.43ZM135.91,211H96V166.7h39.86Zm63.61,0H137.4V166.7h30.16v0h1.5v0h30.47Zm15.59,0H201V166.7h14.09Z"></path>
            <path class="cls-4" d="M115.77,166.7h0Z"></path>
            <line class="cls-4" x1="169.05" y1="166.71" x2="167.56" y2="166.71"></line>
            <line class="cls-4" x1="167.56" y1="210.96" x2="169.05" y2="210.96"></line>
            <path class="cls-4" d="M657.33,162.43H585.47a2.14,2.14,0,0,0-2.14,2.14v48.55a2.14,2.14,0,0,0,2.14,2.14h71.86a2.14,2.14,0,0,0,2.14-2.14V164.56A2.14,2.14,0,0,0,657.33,162.43Zm-53.93,32.67V166.7h16.39v28.39Zm17.88-28.39H637.5v28.39H621.29Zm-19.37,0v28.39h-14.3V166.7Zm-14.3,29.89h14.3V211h-14.3ZM655.2,211H603.41V196.59h34.84a.75.75,0,0,0,.75-.75V166.7h16.2Z"></path>
            <path class="cls-4" d="M657.33,240.45H585.47a2.14,2.14,0,0,0-2.14,2.14v48.55a2.14,2.14,0,0,0,2.14,2.14h71.86a2.14,2.14,0,0,0,2.14-2.14V242.58A2.14,2.14,0,0,0,657.33,240.45Zm-54.84,4.27v14.9H587.61v-14.9Zm-14.89,16.4h14.89V289H587.61Zm50.48,0V289H621.87V261.12ZM620.38,289H604V261.12h16.39Zm34.82,0H639.58V260.37a.75.75,0,0,0-.75-.75H604v-14.9H655.2Z"></path>
            <path class="cls-4" d="M216.66,78H42.17a2.56,2.56,0,0,0-2.56,2.36L35.3,134.81a2.56,2.56,0,0,0,2.56,2.77h15v2.33a2.56,2.56,0,0,0,2.56,2.56H73.67a2.56,2.56,0,0,0,2.07-1.06H190a2.56,2.56,0,0,0,2.56-2.56v-35.9h13.86v22.22a2.56,2.56,0,0,0,2.56,2.56h7.64a2.56,2.56,0,0,0,2.56-2.56V80.6A2.56,2.56,0,0,0,216.66,78Zm-78.39,33.06v25.19H109.19V83.16h41.2v27.18H139A.75.75,0,0,0,138.27,111.09Zm-64.6,25.19a2.56,2.56,0,0,0-2.07,1.06H58V135a2.56,2.56,0,0,0-2.56-2.56H40.63l3.91-49.28h63.15v53.12Zm113.8-35.9v35.9H139.76V111.84h11.37a.75.75,0,0,0,.75-.75V83.16h37.4V97.95A2.55,2.55,0,0,0,187.47,100.38Zm26.62,22.22h-2.52V100.38A2.56,2.56,0,0,0,209,97.82H190.78V83.16h23.31Z"></path>

            <path class="cls-4" d="M856.6,316.06a2.56,2.56,0,0,0-2-.94h-5.67v-1.64a2.56,2.56,0,0,0-2.56-2.56H824.94a2.56,2.56,0,0,0-2.49,2H663.12a2.56,2.56,0,0,0-2.56,2.56v34.21H642.23V315.43a2.56,2.56,0,0,0-2.56-2.56H465a2.56,2.56,0,0,0-2.56,2.56v22.71h-2.54a2.56,2.56,0,0,0-2.56,2.56V352.4a2.56,2.56,0,0,0,2.56,2.56h8.46v25a2.56,2.56,0,0,0,2.56,2.56h14.7A2.56,2.56,0,0,0,488.2,380v-2.2H637.1v16a2.56,2.56,0,0,0,2.56,2.56h14.46a2.56,2.56,0,0,0,2.56-2.56v-3.43h19.07v3.43a2.56,2.56,0,0,0,2.56,2.56H839a2.56,2.56,0,0,0,2.51-2l15.57-76.07A2.56,2.56,0,0,0,856.6,316.06ZM589,318h17.91v54.67H485.63a2.56,2.56,0,0,0-2.56,2.56v2.2H473.5v-25a2.56,2.56,0,0,0-2.56-2.56h-8.46v-6.57H465a2.56,2.56,0,0,0,2.56-2.56V318h39.51c.61,0,1,0,1.49,0h78.91m51.44,54.67H608.38V318H637.1V352.2a2.56,2.56,0,0,0,1.82,2.44Zm96.58,18.52H680.88v-3.43a2.56,2.56,0,0,0-2.56-2.56H654.12a2.56,2.56,0,0,0-2.56,2.56v3.43h-9.33v-16a2.55,2.55,0,0,0-1.82-2.44v-18h22.71a2.56,2.56,0,0,0,2.56-2.56V318h27.55v57.56a.75.75,0,0,0,.75.75H735.5Zm0-16.37H694.73V318H735.5Zm33,16.37H737V318h31.52Zm37.37,0H770V318h35.87Zm31.07,0H807.38V318h16.82v24a.75.75,0,0,0,.75.75h21.93Zm10.22-49.91H825.69v-23.4a2.56,2.56,0,0,0,1.74-1.84h16.39v1.64a2.56,2.56,0,0,0,2.56,2.56h5.09Z"></path>
            <rect class="cls-4" x="499.02" y="317.17" width="1.59" height="56.68"></rect>
            <rect class="cls-4" x="541.42" y="332.13" width="1.59" height="41.72"></rect>
            <rect class="cls-4" x="533.5" y="332.13" width="9.42" height="1.59"></rect>
            <rect class="cls-4" x="533.5" y="317.27" width="1.59" height="16"></rect>
            <rect class="cls-4" x="574.25" y="316.99" width="1.59" height="56.68"></rect>

            <path class="cls-4" d="M694,353H663.12a.75.75,0,0,1,0-1.5H694a.75.75,0,0,1,0,1.5Z"></path>
            <path class="cls-4" d="M439.56,338.32H437V315.43a2.56,2.56,0,0,0-2.56-2.56H259.8a2.56,2.56,0,0,0-2.56,2.56v34.45H240.51V315.43a2.56,2.56,0,0,0-2.56-2.56H76.16a2.56,2.56,0,0,0-2.49-2H55.39a2.56,2.56,0,0,0-2.56,2.56v1.67H22.64a2.56,2.56,0,0,0-2.55,2.33L16.8,353.74a2.56,2.56,0,0,0,.53,1.81L32,374.35a2.56,2.56,0,0,0,2,1H52.83v18.41a2.56,2.56,0,0,0,2.56,2.56H221.15a2.56,2.56,0,0,0,2.56-2.56v-3h19.07v3a2.56,2.56,0,0,0,2.56,2.56H259.8a2.56,2.56,0,0,0,2.56-2.56V378.18H411.27V380a2.56,2.56,0,0,0,2.56,2.56h14.7A2.56,2.56,0,0,0,431.1,380V355.21h8.46a2.56,2.56,0,0,0,2.56-2.56V340.88A2.56,2.56,0,0,0,439.56,338.32ZM108.4,391.19H58V372.77a2.56,2.56,0,0,0-2.56-2.56H35.26L22,353.2l3-32.93H55.39A2.56,2.56,0,0,0,58,317.71V316H71.18a2.56,2.56,0,0,0,2.49,2H108.4Zm39.62,0H109.89V318H148Zm51.84,0H149.51V318h50.34Zm59.2-18a2.55,2.55,0,0,0-1.82,2.44v15.57h-9.33v-3a2.56,2.56,0,0,0-2.56-2.56H221.15a2.56,2.56,0,0,0-2.56,2.56v3H201.35V318h34v34.56h0v0l.12.63h0a2.55,2.55,0,0,0,2.44,1.82h21.1Zm38.86-.12H260.55V354.89a2.55,2.55,0,0,0,1.82-2.44V318h35.55Zm59.78,0H299.41V318h58.28Zm21.85,0H359.19V318h20.36Zm57.46-23h-8.46a2.56,2.56,0,0,0-2.56,2.56v24.78H416.4v-1.81a2.56,2.56,0,0,0-2.56-2.56H381V318H431.9v22.89a2.56,2.56,0,0,0,2.56,2.56H437Z"></path>
            <polygon class="cls-4" points="235.38 352.57 235.38 352.56 235.37 353.2 235.38 352.57"></polygon>
            <polygon class="cls-4" points="235.5 353.2 235.38 352.57 235.37 353.2 235.5 353.2"></polygon>
            <path class="cls-4" d="M564.85,240.45H476.56a2.14,2.14,0,0,0-1.52.64L462.35,254a2.13,2.13,0,0,0-.61,1.5v35.66a2.14,2.14,0,0,0,2.14,2.14h101a2.14,2.14,0,0,0,2.14-2.14V242.58A2.14,2.14,0,0,0,564.85,240.45ZM466,256.35l11.45-11.63h85.26v5.82H546.12a.75.75,0,0,0-.75.75V289H466ZM546.87,289V252h15.85v37Z"></path>
            <path class="cls-4" d="M564.85,162.43h-101a2.14,2.14,0,0,0-2.14,2.14v35.66a2.13,2.13,0,0,0,.61,1.5L475,214.61a2.14,2.14,0,0,0,1.52.64h88.29a2.14,2.14,0,0,0,2.14-2.14V164.56A2.14,2.14,0,0,0,564.85,162.43Zm-2.14,24.41H537.48V166.7h25.23ZM466,199.34V166.7h9.81v42.61ZM477.45,211l-.15-.15V166.7H536v20.88a.75.75,0,0,0,.75.75h26V211Z"></path>
            <path class="cls-4" d="M656.75,78H471.66a2.56,2.56,0,0,0-2.56,2.56v24.74h-5.67a2.56,2.56,0,0,0-2.56,2.56V138.1H437.59V107.91a2.56,2.56,0,0,0-2.56-2.56h-5.68V80.6A2.56,2.56,0,0,0,426.79,78H242.47a2.56,2.56,0,0,0-2.56,2.56v58.24a2.56,2.56,0,0,0,2.56,2.56H315V152a.75.75,0,0,0,.75.75h35.59a.75.75,0,0,0,.75-.75V141.41H435a2.55,2.55,0,0,0,2.44-1.82H461a2.56,2.56,0,0,0,2.44,1.82h82.88V152a.75.75,0,0,0,.75.75h35.59a.75.75,0,0,0,.75-.75V141.41h73.35a2.56,2.56,0,0,0,2.56-2.56V80.6A2.56,2.56,0,0,0,656.75,78ZM259.28,136.28H245V83.17h14.25Zm91.34,15H316.53V127.8h34.09Zm81.85-15H352.12v-9.22a.75.75,0,0,0-.75-.75H315.78a.75.75,0,0,0-.75.75v9.22H260.78V83.17H424.23v24.74a2.56,2.56,0,0,0,2.56,2.56h5.68Zm149.43,15H547.8V127.8h34.1Zm.75-25H547.06a.75.75,0,0,0-.75.75v9.22H466V110.47h5.67a2.56,2.56,0,0,0,2.56-2.56V83.17H639.63v53.11H583.4v-9.22A.75.75,0,0,0,582.65,126.31Zm71.53,10H641.13V83.17h13.05Z"></path>
            <path class="cls-4" d="M905.83,79a2.56,2.56,0,0,0-2-.94H682.53A2.56,2.56,0,0,0,680,80.6v45.53a2.56,2.56,0,0,0,2.56,2.56h8.36a2.56,2.56,0,0,0,2.56-2.56V102.95H708v35.9a2.56,2.56,0,0,0,2.56,2.56H851a2.56,2.56,0,0,0,2.56,2.56h18.73a2.56,2.56,0,0,0,2.56-2.56V138.9h17.63a2.56,2.56,0,0,0,2.51-2l11.39-55.74A2.56,2.56,0,0,0,905.83,79ZM794.89,83.16h50.84v53.12H794.89Zm-1.49,53.12H756V83.16H793.4ZM690.88,97.82a2.56,2.56,0,0,0-2.56,2.56v23.19h-3.23V83.16h24.73V97.82Zm20.43.12V83.16h43.17v53.12H713.13v-35.9A2.55,2.55,0,0,0,711.31,97.95Zm179.05,35.83h-18.1a2.56,2.56,0,0,0-2.56,2.56v2.51H856.09a2.56,2.56,0,0,0-2.56-2.56h-6.3V83.16h53.48Z"></path>
            <path class="cls-4" d="M449.76,352.26a5.71,5.71,0,1,1,5.71-5.71A5.72,5.72,0,0,1,449.76,352.26Zm0-10.36a4.65,4.65,0,1,0,4.65,4.65A4.65,4.65,0,0,0,449.76,341.9Z"></path>
            <path class="cls-4" d="M449.21,118.49a5.71,5.71,0,1,1,5.71-5.71A5.72,5.72,0,0,1,449.21,118.49Zm0-10.36a4.65,4.65,0,1,0,4.65,4.65A4.65,4.65,0,0,0,449.21,108.13Z"></path>
            <path class="cls-4" d="M836.93,309.82a5.43,5.43,0,1,1,5.43-5.43A5.44,5.44,0,0,1,836.93,309.82Zm0-9.79a4.36,4.36,0,1,0,4.36,4.36A4.37,4.37,0,0,0,836.93,300Z"></path>
            <path class="cls-4" d="M836.93,233.6a5.43,5.43,0,1,1,5.43-5.43A5.44,5.44,0,0,1,836.93,233.6Zm0-9.8a4.36,4.36,0,1,0,4.36,4.36A4.37,4.37,0,0,0,836.93,223.81Z"></path>
            <path class="cls-4" d="M863.29,157.13a5.43,5.43,0,1,1,5.43-5.43A5.44,5.44,0,0,1,863.29,157.13Zm0-9.79a4.36,4.36,0,1,0,4.36,4.36A4.37,4.37,0,0,0,863.29,147.34Z"></path>
            <path class="cls-4" d="M63.71,156.38a5.43,5.43,0,1,1,5.43-5.43A5.44,5.44,0,0,1,63.71,156.38Zm0-9.79a4.36,4.36,0,1,0,4.36,4.36A4.37,4.37,0,0,0,63.71,146.58Z"></path>
            <path class="cls-4" d="M63.71,234.11a5.43,5.43,0,1,1,5.43-5.43A5.44,5.44,0,0,1,63.71,234.11Zm0-9.79a4.36,4.36,0,1,0,4.36,4.36A4.37,4.37,0,0,0,63.71,224.31Z"></path>
            <path class="cls-4" d="M63.71,309.82a5.43,5.43,0,1,1,5.43-5.43A5.44,5.44,0,0,1,63.71,309.82Zm0-9.79a4.36,4.36,0,1,0,4.36,4.36A4.37,4.37,0,0,0,63.71,300Z"></path>
            <path class="cls-4" d="M477.52,36V11.8l16.28-1.41L511.15,9l17.93-1.64,16.72-.69,17.72-1,17.33-.54,17.31-3.69L615.74.82,633.66,0h73.9l17.95,1.37,17.4.41L760.43,2l18,1.23,20,1.64L906.51,16.55l-5.37,19.37h-.83Zm2.18-22.17v20l419.77,0,4.23-15.28L798.16,7.11,778.22,5.47,760.34,4.24,742.86,4,725.4,3.56,707.48,2.19H633.71L615.83,3l-17.5.68L581,7.38l-17.4.54-17.71,1-16.68.69L511.34,11.2,494,12.57Z"></path>
            <g>
                <path class="cls-4" d="M466.25,221l-9-9a.74.74,0,0,0-.53-.22H444a.75.75,0,0,0-.53.22l-9,9a.75.75,0,0,0-.22.53v12.7a.75.75,0,0,0,.22.53l9,9a.75.75,0,0,0,.53.22h12.7a.75.75,0,0,0,.53-.22l9-9a.75.75,0,0,0,.22-.53V221.5A.74.74,0,0,0,466.25,221ZM465,233.89l-8.54,8.54H444.35l-8.54-8.54V221.81l8.54-8.54h12.08l8.54,8.54Z"></path>
                <path class="cls-4" d="M441.51,227.85a8.88,8.88,0,1,0,8.88-8.88A8.89,8.89,0,0,0,441.51,227.85Zm16.27,0a7.39,7.39,0,1,1-7.39-7.39A7.4,7.4,0,0,1,457.78,227.85Z"></path>
            </g>
            <path class="cls-2" d="M206.42,113.49h0v-1.6h0v-1.6a.19.19,0,0,0-.19-.19h-6.68a.19.19,0,0,0-.19.19V122.9h-6.49a.19.19,0,0,0-.19.19v12.8a.19.19,0,0,0,.19.19h6.68a.19.19,0,0,0,.19-.19v-1.6h0v-1.6h0v-1.6h0v-1.6h0v-1.6h0v-1.6h0v-1.6h0v-1.41h6.5a.19.19,0,0,0,.19-.19v-1.6h0v-1.6h0v-1.6h0v-1.6h0v-1.6h0v-1.6Zm-6.69,5H206v1.22h-6.31Zm0-.38v-1.22H206v1.22Zm0-1.6v-1.22H206v1.22Zm0-1.6v-1.22H206v1.22Zm0-1.6v-1.22H206v1.22Zm0,6.77H206v1.22h-6.31Zm6.31-9.6v1.22h-6.31v-1.22Zm-13,20.79h6.3v1.22h-6.3Zm0-.38v-1.22h6.3v1.22Zm0-1.6v-1.22h6.3v1.22Zm0-1.6v-1.22h6.3v1.22Zm0-1.6v-1.22h6.3v1.22Zm0,6.78h6.3v1.22h-6.3Zm6.3-9.6v1.22h-6.3v-1.22Zm-6.3,12.42v-1.22h6.3v1.22Zm6.68-12.8v-1.22H206v1.22Z"></path>
            <rect class="cls-4" x="80.76" y="80.19" width="1.59" height="58.09"></rect>
            <rect class="cls-4" x="725.62" y="166.7" width="1.59" height="44.28"></rect>
        </g>
        <g id="markers_1">
            <g id="floor_markers_1">
                <g class="js-item_money_mark item_money_mark">
                    <path class="cls-12" d="M222.2,239.38a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M222.2,241.8a7.19,7.19,0,1,0,7.19,7.19,7.19,7.19,0,0,0-7.19-7.19"></path>
                    <path class="cls-5" d="M221,247.28c0,.46.31.74.92.85v-1.77c-.61.12-.92.42-.92.92m1.7,2.28v1.82c.69-.1,1-.39,1-.92s-.41-.8-1-.9M222.2,241a8,8,0,1,0,8,8,8,8,0,0,0-8-8m2.4,10.85a2.75,2.75,0,0,1-1.76.83v1.19h-1.07v-1.14a3.65,3.65,0,0,1-1.5-.31,2.9,2.9,0,0,1-1-.69l1-1a2.08,2.08,0,0,0,.61.41,2.64,2.64,0,0,0,1.07.22v-1.92l-.34,0a2,2,0,0,1-2-2.08,2.18,2.18,0,0,1,.54-1.5,2.52,2.52,0,0,1,1.66-.78v-1h1.07v.94a3.24,3.24,0,0,1,1.22.27,2.94,2.94,0,0,1,.87.59l-.93.92a1.79,1.79,0,0,0-.48-.31,2.56,2.56,0,0,0-.83-.2v1.84l.4.06c1.39.22,2,.89,2,2.16a2.07,2.07,0,0,1-.52,1.44"></path>
                </g>
                <g class="js-item_phone_mark item_phone_mark">
                    <path class="cls-12" d="M710.56,129.23a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M710.56,131.65a7.19,7.19,0,1,0,7.2,7.2,7.19,7.19,0,0,0-7.2-7.2"></path>
                    <path class="cls-5" d="M710.56,130.85a8,8,0,1,0,8,8,8,8,0,0,0-8-8"></path>
                    <path class="cls-1" d="M711.71,136.2l-.23-.08c-.93-.34-1.18-1.1-.75-2.27a1.48,1.48,0,0,1,.55-.83,1.24,1.24,0,0,1,.94.07l.26.1a3.78,3.78,0,0,0-.61,1,3.85,3.85,0,0,0-.16,2m-3.36,8.39-.29-.11a1.06,1.06,0,0,1-.68-.53,1.47,1.47,0,0,1,.11-1q.65-1.79,2-1.32l.28.1a4.13,4.13,0,0,0-1.38,2.81m2.38.11a5.68,5.68,0,0,1-2.11,0,5.23,5.23,0,0,1,.27-1.11,4.52,4.52,0,0,1,1.14-1.69l.13,0q.91.33,1.89-2.41c.69-1.88.73-2.94.13-3.16l-.13,0a3.88,3.88,0,0,1,.13-2,3.27,3.27,0,0,1,.59-1,6,6,0,0,1,1.61,1.35,14.38,14.38,0,0,1-.22,2.64,16.75,16.75,0,0,1-.74,2.69,17.12,17.12,0,0,1-1.18,2.56,13.85,13.85,0,0,1-1.52,2.16"></path>
                </g>
                <g class="js-item_toilet_mark item_toilet_mark active">
                    <path class="cls-12" d="M93.91,203.5a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M93.91,205.92a7.19,7.19,0,1,0,7.19,7.2,7.19,7.19,0,0,0-7.19-7.2"></path>
                    <path class="cls-5" d="M93.91,205.12a8,8,0,1,0,8,8,8,8,0,0,0-8-8m-.09,11h-1l-1.09-3.59-1.09,3.59h-1l-1.58-5.92h1.21l.92,3.73,1.08-3.73h.87l1.08,3.73.92-3.73h1.21Zm5.11-.1a2.39,2.39,0,0,1-.87.15,2.21,2.21,0,0,1-1.62-.65,3.1,3.1,0,0,1-.58-2.36v-.24c0-1.18.12-1.66.58-2.12a2.19,2.19,0,0,1,1.61-.65,2.24,2.24,0,0,1,.87.16,2.08,2.08,0,0,1,.77.52l-.77.77a1.12,1.12,0,0,0-.87-.42.94.94,0,0,0-.74.31,2.42,2.42,0,0,0-.29,1.51v.32c0,.94.06,1.26.29,1.52a.93.93,0,0,0,.74.31,1.11,1.11,0,0,0,.87-.42l.77.77a2.17,2.17,0,0,1-.77.53"></path>
                </g>
                <g class="js-item_toilet_mark item_toilet_mark active">
                    <path class="cls-12" d="M93.91,154.95a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M93.91,157.37a7.19,7.19,0,1,0,7.19,7.2,7.19,7.19,0,0,0-7.19-7.2"></path>
                    <path class="cls-5" d="M93.91,156.56a8,8,0,1,0,8,8,8,8,0,0,0-8-8m-.09,11h-1l-1.09-3.59-1.09,3.59h-1l-1.58-5.92h1.21l.92,3.73,1.08-3.73h.87l1.08,3.73.92-3.73h1.21Zm5.11-.11a2.37,2.37,0,0,1-.87.16,2.2,2.2,0,0,1-1.61-.65,3.1,3.1,0,0,1-.58-2.36v-.24c0-1.18.12-1.66.58-2.12a2.18,2.18,0,0,1,1.61-.65,2.26,2.26,0,0,1,.87.16,2.16,2.16,0,0,1,.77.52l-.77.77a1.12,1.12,0,0,0-.87-.42.94.94,0,0,0-.74.31,2.43,2.43,0,0,0-.29,1.51v.32c0,.94.06,1.26.29,1.52a.93.93,0,0,0,.74.31,1.11,1.11,0,0,0,.87-.42l.77.77a2.18,2.18,0,0,1-.77.52"></path>
                </g>
                <g class="js-item_toilet_mark item_toilet_mark active">
                    <path class="cls-12" d="M814,200.61a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M814,203a7.19,7.19,0,1,0,7.19,7.2A7.19,7.19,0,0,0,814,203"></path>
                    <path class="cls-5" d="M814,202.23a8,8,0,1,0,8,8,8,8,0,0,0-8-8m-.09,11h-1l-1.09-3.59-1.09,3.59h-1l-1.58-5.92h1.21l.92,3.73,1.08-3.73h.87L813.4,211l.92-3.73h1.21Zm5.11-.11a2.38,2.38,0,0,1-.87.15,2.21,2.21,0,0,1-1.62-.65,3.1,3.1,0,0,1-.58-2.36V210c0-1.18.12-1.66.58-2.12a2.19,2.19,0,0,1,1.61-.65,2.24,2.24,0,0,1,.88.16,2.08,2.08,0,0,1,.77.52l-.77.77a1.11,1.11,0,0,0-.87-.42.93.93,0,0,0-.74.31,2.41,2.41,0,0,0-.29,1.51v.32c0,.94.06,1.26.29,1.52a.93.93,0,0,0,.74.31,1.11,1.11,0,0,0,.88-.42l.77.77a2.17,2.17,0,0,1-.77.53"></path>
                </g>
                <g class="js-item_toilet_mark item_toilet_mark active">
                    <path class="cls-12" d="M814,154.95a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M814,157.37a7.19,7.19,0,1,0,7.19,7.2,7.19,7.19,0,0,0-7.19-7.2"></path>
                    <path class="cls-5" d="M814,156.56a8,8,0,1,0,8,8,8,8,0,0,0-8-8m-.09,11h-1l-1.09-3.59-1.09,3.59h-1l-1.58-5.92h1.21l.92,3.73,1.08-3.73h.87l1.08,3.73.92-3.73h1.21Zm5.11-.11a2.37,2.37,0,0,1-.87.16,2.21,2.21,0,0,1-1.62-.65,3.1,3.1,0,0,1-.58-2.36v-.24c0-1.18.12-1.66.58-2.12a2.18,2.18,0,0,1,1.61-.65,2.26,2.26,0,0,1,.88.16,2.17,2.17,0,0,1,.77.52l-.77.77a1.12,1.12,0,0,0-.87-.42.94.94,0,0,0-.74.31,2.43,2.43,0,0,0-.29,1.51v.32c0,.94.06,1.26.29,1.52a.93.93,0,0,0,.74.31,1.11,1.11,0,0,0,.88-.42l.77.77a2.19,2.19,0,0,1-.77.52"></path>
                </g>
                <g class="js-item_rest_mark item_rest_mark">
                    <path class="cls-12" d="M351.37,129.23a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M351.37,131.65a7.19,7.19,0,1,0,7.19,7.2,7.19,7.19,0,0,0-7.19-7.2"></path>
                    <path class="cls-5" d="M351.37,130.85a8,8,0,1,0,8,8,8,8,0,0,0-8-8M349.1,139v3.91a.59.59,0,0,1-1.18,0V139a2.33,2.33,0,0,1-1.51-2.25,2.11,2.11,0,1,1,4.19,0,2.33,2.33,0,0,1-1.5,2.25m7.22-1.94a1.79,1.79,0,0,1-1.78,1.78h-.19v4.07a.59.59,0,1,1-1.18,0v-4.07H353a1.78,1.78,0,0,1-1.78-1.78V134.8a.59.59,0,0,1,1.18,0V137a.6.6,0,0,0,.6.6h.19V134.8a.59.59,0,1,1,1.18,0v2.84h.19a.6.6,0,0,0,.6-.6V134.8a.59.59,0,1,1,1.18,0Z"></path>
                </g>
                <g class="js-item_rest_mark item_rest_mark">
                    <path class="cls-12" d="M582.65,129.23a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M582.65,131.65a7.19,7.19,0,1,0,7.19,7.2,7.19,7.19,0,0,0-7.19-7.2"></path>
                    <path class="cls-5" d="M582.65,130.85a8,8,0,1,0,8,8,8,8,0,0,0-8-8M580.38,139v3.91a.59.59,0,0,1-1.19,0V139a2.33,2.33,0,0,1-1.5-2.25,2.11,2.11,0,1,1,4.19,0,2.33,2.33,0,0,1-1.5,2.25M587.6,137a1.79,1.79,0,0,1-1.78,1.78h-.19v4.07a.59.59,0,0,1-1.18,0v-4.07h-.2a1.78,1.78,0,0,1-1.78-1.78V134.8a.59.59,0,1,1,1.18,0V137a.6.6,0,0,0,.59.6h.2V134.8a.59.59,0,1,1,1.18,0v2.84h.19a.6.6,0,0,0,.6-.6V134.8a.59.59,0,1,1,1.18,0Z"></path>
                </g>
                <g class="js-item_rest_mark item_rest_mark">
                    <path class="cls-12" d="M667.54,361.31a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M667.54,363.72a7.19,7.19,0,1,0,7.19,7.19,7.2,7.2,0,0,0-7.19-7.19"></path>
                    <path class="cls-5" d="M667.54,362.93a8,8,0,1,0,8,8,8,8,0,0,0-8-8m-2.27,8.13V375a.59.59,0,0,1-.59.59.59.59,0,0,1-.6-.59v-3.91a2.33,2.33,0,0,1-1.5-2.25,2.11,2.11,0,1,1,4.19,0,2.32,2.32,0,0,1-1.5,2.25m7.22-1.94a1.78,1.78,0,0,1-1.78,1.78h-.2V375a.59.59,0,0,1-1.18,0v-4.07h-.19a1.78,1.78,0,0,1-1.78-1.78v-2.24a.59.59,0,1,1,1.18,0v2.24a.6.6,0,0,0,.6.6h.19v-2.84a.59.59,0,1,1,1.18,0v2.84h.2a.6.6,0,0,0,.6-.6v-2.24a.59.59,0,0,1,.58-.59.6.6,0,0,1,.6.59Z"></path>
                </g>
                <g class="js-item_rest_mark item_rest_mark">
                    <path class="cls-12" d="M245.75,365.67a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M245.75,368.09a7.19,7.19,0,1,0,7.19,7.19,7.19,7.19,0,0,0-7.19-7.19"></path>
                    <path class="cls-5" d="M245.75,367.29a8,8,0,1,0,8,8,8,8,0,0,0-8-8m-2.27,8.13v3.91a.59.59,0,0,1-1.18,0v-3.91a2.33,2.33,0,0,1-1.5-2.25,2.11,2.11,0,1,1,4.19,0,2.33,2.33,0,0,1-1.5,2.25m7.22-1.94a1.79,1.79,0,0,1-1.78,1.78h-.2v4.07a.59.59,0,1,1-1.18,0v-4.07h-.19a1.78,1.78,0,0,1-1.78-1.78v-2.24a.59.59,0,0,1,1.18,0v2.24a.6.6,0,0,0,.6.6h.19v-2.84a.59.59,0,1,1,1.18,0v2.84h.2a.6.6,0,0,0,.6-.6v-2.24a.59.59,0,0,1,1.18,0Z"></path>
                </g>
                <g class="js-item_phone_mark item_phone_mark">
                    <path class="cls-12" d="M190,129.23a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M190,131.65a7.2,7.2,0,1,0,7.19,7.2,7.19,7.19,0,0,0-7.19-7.2"></path>
                    <path class="cls-5" d="M190,130.85a8,8,0,1,0,8,8,8,8,0,0,0-8-8"></path>
                    <path class="cls-1" d="M191.18,136.2l-.22-.08q-1.39-.51-.75-2.27a1.46,1.46,0,0,1,.55-.83,1.22,1.22,0,0,1,.93.07l.26.1a3.72,3.72,0,0,0-.6,1,3.87,3.87,0,0,0-.17,2m-3.36,8.39-.29-.11a1.05,1.05,0,0,1-.68-.53,1.46,1.46,0,0,1,.11-1q.66-1.79,2-1.32l.28.1a4.12,4.12,0,0,0-1.38,2.81m2.38.11a5.72,5.72,0,0,1-2.11,0,5.17,5.17,0,0,1,.26-1.11,4.62,4.62,0,0,1,1.14-1.69l.13,0q.9.33,1.9-2.41t.13-3.16l-.13,0a3.9,3.9,0,0,1,.13-2,3.25,3.25,0,0,1,.6-1,6,6,0,0,1,1.61,1.35,14.39,14.39,0,0,1-.23,2.64,16.61,16.61,0,0,1-.73,2.69,16.33,16.33,0,0,1-1.18,2.56,13.79,13.79,0,0,1-1.52,2.17"></path>
                </g>
                <g class="js-item_phone_mark item_phone_mark">
                    <path class="cls-12" d="M871.41,152.38A9.61,9.61,0,1,0,881,162a9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M871.41,154.8A7.19,7.19,0,1,0,878.6,162a7.19,7.19,0,0,0-7.19-7.19"></path>
                    <path class="cls-5" d="M871.41,154a8,8,0,1,0,8,8,8,8,0,0,0-8-8"></path>
                    <path class="cls-1" d="M872.55,159.35l-.23-.08q-1.39-.51-.75-2.27a1.46,1.46,0,0,1,.55-.83,1.23,1.23,0,0,1,.93.07l.26.1a3.75,3.75,0,0,0-.6,1,3.91,3.91,0,0,0-.17,2m-3.36,8.39-.29-.1a1.06,1.06,0,0,1-.68-.53,1.44,1.44,0,0,1,.11-1q.66-1.79,2-1.32l.28.1a4.16,4.16,0,0,0-1.38,2.81m2.38.11a5.73,5.73,0,0,1-2.11,0,5.31,5.31,0,0,1,.27-1.11,4.59,4.59,0,0,1,1.14-1.69l.13,0q.9.33,1.9-2.41t.13-3.16l-.13,0a3.84,3.84,0,0,1,.13-2,3.22,3.22,0,0,1,.6-1,6,6,0,0,1,1.61,1.35,14.21,14.21,0,0,1-.23,2.64,16.69,16.69,0,0,1-.73,2.69,16.37,16.37,0,0,1-1.18,2.56,13.6,13.6,0,0,1-1.52,2.17"></path>
                </g>
                <g class="js-item_money_mark item_money_mark">
                    <path class="cls-12" d="M683.1,193.89a9.61,9.61,0,1,0,9.62,9.61,9.61,9.61,0,0,0-9.62-9.61"></path>
                    <path class="cls-1" d="M683.1,196.31a7.19,7.19,0,1,0,7.2,7.19,7.19,7.19,0,0,0-7.2-7.19"></path>
                    <path class="cls-5" d="M681.9,201.79c0,.46.31.74.92.84v-1.77q-.92.17-.92.92m1.71,2.28v1.82c.69-.1,1-.39,1-.92s-.41-.8-1-.9m-.5-8.57a8,8,0,1,0,8,8,8,8,0,0,0-8-8m2.4,10.85a2.74,2.74,0,0,1-1.76.83v1.19h-1.07v-1.14a3.66,3.66,0,0,1-1.51-.31,2.85,2.85,0,0,1-1-.69l.95-1a2,2,0,0,0,.62.41,2.63,2.63,0,0,0,1.07.22V204l-.34,0a2,2,0,0,1-2-2.09,2.2,2.2,0,0,1,.54-1.5,2.53,2.53,0,0,1,1.66-.78v-1h1.07v.94a3.21,3.21,0,0,1,1.22.28,3,3,0,0,1,.87.59l-.94.92a1.67,1.67,0,0,0-.47-.31,2.59,2.59,0,0,0-.82-.2v1.84l.4.06c1.38.22,2,.89,2,2.16a2,2,0,0,1-.52,1.44"></path>
                </g>
                <g class="js-item_phone_mark item_phone_mark">
                    <path class="cls-12" d="M849.81,229.18a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M849.81,231.6a7.19,7.19,0,1,0,7.19,7.19,7.19,7.19,0,0,0-7.19-7.19"></path>
                    <path class="cls-5" d="M849.81,230.8a8,8,0,1,0,8,8,8,8,0,0,0-8-8"></path>
                    <path class="cls-1" d="M851,236.15l-.23-.08q-1.39-.51-.75-2.27a1.46,1.46,0,0,1,.55-.83,1.24,1.24,0,0,1,.94.07l.26.1a3.71,3.71,0,0,0-.6,1,3.93,3.93,0,0,0-.17,2m-3.36,8.39-.29-.1a1.06,1.06,0,0,1-.69-.53,1.48,1.48,0,0,1,.11-1c.44-1.2,1.09-1.63,2-1.32l.28.1a4.1,4.1,0,0,0-1.15,1.69,4.16,4.16,0,0,0-.24,1.12m2.38.11a5.66,5.66,0,0,1-2.11,0,5.38,5.38,0,0,1,.27-1.11,4.6,4.6,0,0,1,1.15-1.69l.13,0q.9.33,1.9-2.41c.68-1.88.73-2.94.12-3.16l-.13,0a3.86,3.86,0,0,1,.13-2,3.23,3.23,0,0,1,.6-1,6,6,0,0,1,1.61,1.35,14.37,14.37,0,0,1-.23,2.64,16.46,16.46,0,0,1-.74,2.69,16.2,16.2,0,0,1-1.18,2.56,13.67,13.67,0,0,1-1.52,2.17"></path>
                </g>
                <g class="js-item_phone_mark item_phone_mark">
                    <path class="cls-12" d="M849.81,285.7a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M849.81,288.11a7.19,7.19,0,1,0,7.19,7.19,7.19,7.19,0,0,0-7.19-7.19"></path>
                    <path class="cls-5" d="M849.81,287.31a8,8,0,1,0,8,8,8,8,0,0,0-8-8"></path>
                    <path class="cls-1" d="M851,292.66l-.23-.08q-1.39-.51-.75-2.27a1.46,1.46,0,0,1,.55-.83,1.24,1.24,0,0,1,.94.07l.26.09a3.73,3.73,0,0,0-.6,1,3.93,3.93,0,0,0-.17,2m-3.36,8.39-.29-.11a1.05,1.05,0,0,1-.69-.52,1.48,1.48,0,0,1,.11-1c.44-1.19,1.09-1.63,2-1.32l.28.1a4.1,4.1,0,0,0-1.15,1.69,4.18,4.18,0,0,0-.24,1.12m2.38.11a5.68,5.68,0,0,1-2.11,0,5.35,5.35,0,0,1,.27-1.11,4.59,4.59,0,0,1,1.15-1.69l.13,0q.9.33,1.9-2.41c.68-1.88.73-2.94.12-3.16l-.13,0a3.86,3.86,0,0,1,.13-2,3.23,3.23,0,0,1,.6-1,6,6,0,0,1,1.61,1.35,14.38,14.38,0,0,1-.23,2.64,16.49,16.49,0,0,1-.74,2.69A16.28,16.28,0,0,1,851.5,299a13.8,13.8,0,0,1-1.52,2.17"></path>
                </g>
                <g class="js-item_toilet_mark item_toilet_mark active">
                    <path class="cls-12" d="M428.53,356.49a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M428.53,358.91a7.19,7.19,0,1,0,7.19,7.19,7.19,7.19,0,0,0-7.19-7.19"></path>
                    <path class="cls-5" d="M428.53,358.11a8,8,0,1,0,8,8,8,8,0,0,0-8-8m-.09,11h-1l-1.09-3.59-1.09,3.59h-1l-1.58-5.92H424l.91,3.73,1.08-3.73h.87l1.08,3.73.92-3.73H430Zm5.11-.11a2.38,2.38,0,0,1-.87.16,2.2,2.2,0,0,1-1.61-.65,3.1,3.1,0,0,1-.58-2.36v-.24c0-1.18.12-1.66.58-2.12a2.18,2.18,0,0,1,1.6-.65,2.27,2.27,0,0,1,.88.16,2.11,2.11,0,0,1,.77.53l-.77.77a1.11,1.11,0,0,0-.87-.42.94.94,0,0,0-.74.31,2.44,2.44,0,0,0-.29,1.51v.32c0,.94.06,1.27.29,1.52a.93.93,0,0,0,.74.31,1.11,1.11,0,0,0,.88-.41l.77.77a2.09,2.09,0,0,1-.77.52"></path>
                </g>
                <g class="js-item_toilet_mark item_toilet_mark active">
                    <path class="cls-12" d="M470.94,356.25a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M470.94,358.67a7.19,7.19,0,1,0,7.19,7.19,7.2,7.2,0,0,0-7.19-7.19"></path>
                    <path class="cls-5" d="M470.94,357.86a8,8,0,1,0,8,8,8,8,0,0,0-8-8m-.09,11h-1l-1.09-3.59-1.09,3.59h-1l-1.58-5.92h1.21l.92,3.73,1.08-3.73h.86l1.08,3.73.93-3.73h1.2Zm5.11-.11a2.35,2.35,0,0,1-.87.16,2.2,2.2,0,0,1-1.61-.65,3.09,3.09,0,0,1-.58-2.36v-.24c0-1.18.12-1.66.58-2.12a2.18,2.18,0,0,1,1.61-.65,2.24,2.24,0,0,1,.87.16,2.1,2.1,0,0,1,.76.52l-.76.77a1.11,1.11,0,0,0-.87-.42.93.93,0,0,0-.74.31,2.4,2.4,0,0,0-.29,1.51V366c0,.94.06,1.26.29,1.52a.93.93,0,0,0,.74.31,1.1,1.1,0,0,0,.87-.42l.76.77a2.12,2.12,0,0,1-.76.52"></path>
                </g>
                <g class="js-item_lift_mark item_lift_mark">
                    <path class="cls-12" d="M193.62,203.5a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M193.62,205.92a7.19,7.19,0,1,0,7.19,7.19,7.19,7.19,0,0,0-7.19-7.19"></path>
                    <path class="cls-5" d="M193.62,205.12a8,8,0,1,0,8,8,8,8,0,0,0-8-8"></path>
                    <polygon class="cls-1" points="188.91 211.66 193.62 207.13 198.33 211.66 188.91 211.66"></polygon>
                    <polygon class="cls-1" points="198.33 214.56 193.62 219.1 188.91 214.56 198.33 214.56"></polygon>
                </g>
                <g class="js-item_info_mark item_info_mark">
                    <path class="cls-12" d="M154.21,144.75a7.48,7.48,0,1,0,7.48,7.48,7.48,7.48,0,0,0-7.48-7.48"></path>
                    <path class="cls-1" d="M154.21,146.64a5.6,5.6,0,1,0,5.59,5.59,5.59,5.59,0,0,0-5.59-5.59"></path>
                    <path class="cls-5" d="M154.21,146a6.22,6.22,0,1,0,6.22,6.22,6.21,6.21,0,0,0-6.22-6.22m0,2.39a1.33,1.33,0,1,1-1.33,1.33,1.33,1.33,0,0,1,1.33-1.33m1.61,3.75h-.71v3.51h.71v.38h-3.28v-.38h.78v-3.51h-.78v-.39h3.28Z"></path>
                </g>
                <g class="js-item_phone_mark item_phone_mark">
                    <path class="cls-12" d="M73.67,285.69a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M73.67,288.11a7.19,7.19,0,1,0,7.19,7.2,7.19,7.19,0,0,0-7.19-7.2"></path>
                    <path class="cls-5" d="M73.67,287.31a8,8,0,1,0,8,8,8,8,0,0,0-8-8"></path>
                    <path class="cls-1" d="M74.82,292.66l-.23-.08q-1.39-.51-.75-2.27a1.45,1.45,0,0,1,.55-.83,1.22,1.22,0,0,1,.93.07l.26.1a3.74,3.74,0,0,0-.6,1,3.86,3.86,0,0,0-.17,2M71.46,301l-.29-.1a1.06,1.06,0,0,1-.68-.53,1.45,1.45,0,0,1,.11-1q.66-1.79,2-1.32l.28.1A4.13,4.13,0,0,0,71.46,301m2.38.11a5.71,5.71,0,0,1-2.11,0A5.11,5.11,0,0,1,72,300a4.58,4.58,0,0,1,1.14-1.69l.13,0q.9.33,1.9-2.4t.13-3.16l-.13,0a3.9,3.9,0,0,1,.13-2,3.21,3.21,0,0,1,.6-1,6,6,0,0,1,1.61,1.35,14.46,14.46,0,0,1-.23,2.64,16.72,16.72,0,0,1-.73,2.69A16.38,16.38,0,0,1,75.36,299a13.72,13.72,0,0,1-1.52,2.17"></path>
                </g>
                <g class="js-item_phone_mark item_phone_mark">
                    <path class="cls-12" d="M73.67,129.23a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M73.67,131.65a7.2,7.2,0,1,0,7.19,7.2,7.19,7.19,0,0,0-7.19-7.2"></path>
                    <path class="cls-5" d="M73.67,130.85a8,8,0,1,0,8,8,8,8,0,0,0-8-8"></path>
                    <path class="cls-1" d="M74.82,136.2l-.23-.08q-1.39-.51-.75-2.27a1.46,1.46,0,0,1,.55-.83,1.23,1.23,0,0,1,.93.07l.26.1a3.75,3.75,0,0,0-.6,1,3.86,3.86,0,0,0-.17,2m-3.36,8.39-.29-.11a1.05,1.05,0,0,1-.68-.53,1.45,1.45,0,0,1,.11-1q.66-1.79,2-1.32l.28.1a4.13,4.13,0,0,0-1.38,2.81m2.38.11a5.71,5.71,0,0,1-2.11,0,5.15,5.15,0,0,1,.27-1.11,4.6,4.6,0,0,1,1.14-1.69l.13,0q.9.33,1.9-2.41t.13-3.16l-.13,0a3.89,3.89,0,0,1,.13-2,3.22,3.22,0,0,1,.6-1,6,6,0,0,1,1.61,1.35,14.47,14.47,0,0,1-.23,2.64,16.71,16.71,0,0,1-.73,2.69,16.42,16.42,0,0,1-1.18,2.56,13.77,13.77,0,0,1-1.52,2.17"></path>
                </g>
                <g class="js-item_phone_mark item_phone_mark">
                    <path class="cls-12" d="M73.67,208.95a9.61,9.61,0,1,0,9.61,9.61,9.61,9.61,0,0,0-9.61-9.61"></path>
                    <path class="cls-1" d="M73.67,211.36a7.19,7.19,0,1,0,7.19,7.19,7.19,7.19,0,0,0-7.19-7.19"></path>
                    <path class="cls-5" d="M73.67,210.56a8,8,0,1,0,8,8,8,8,0,0,0-8-8"></path>
                    <path class="cls-1" d="M74.82,215.91l-.23-.08q-1.39-.51-.75-2.27a1.46,1.46,0,0,1,.55-.83,1.23,1.23,0,0,1,.93.07l.26.1a3.73,3.73,0,0,0-.6,1,3.86,3.86,0,0,0-.17,2m-3.36,8.39-.29-.1a1.05,1.05,0,0,1-.68-.53,1.45,1.45,0,0,1,.11-1q.66-1.79,2-1.32l.28.1a4.13,4.13,0,0,0-1.38,2.81m2.38.11a5.71,5.71,0,0,1-2.11,0,5.14,5.14,0,0,1,.27-1.11,4.6,4.6,0,0,1,1.14-1.69l.13,0q.9.33,1.9-2.41t.13-3.16l-.13,0a3.9,3.9,0,0,1,.13-2,3.2,3.2,0,0,1,.6-1,6,6,0,0,1,1.61,1.35,14.46,14.46,0,0,1-.23,2.64,16.7,16.7,0,0,1-.73,2.69,16.37,16.37,0,0,1-1.18,2.56,13.68,13.68,0,0,1-1.52,2.16"></path>
                </g>
            </g>
        </g>
    </svg>
