.inner-gray {
    background: #f5f5f5;
    padding: 20px 15px 20px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.bootstrap-datetimepicker-widget {
    display: block !important;
}

#events_map {
    height: 500px;
}

.mouse-popover {
    position: absolute;
    text-align:center;
}

.modal img {
    max-width: 500px;
}